<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrenerConnection"
            connectionString="Data Source=;Initial Catalog=DBTraining;Integrated Security=True; User Id=TRENER_LOG; Password=1111"
            providerName="System.Data.SqlClient" />
      <add name="SportsmanConnection"
            connectionString="Data Source=DESKTOP-NIMN87C;Initial Catalog=DBTraining;Integrated Security=True; User Id=SPORTSMAN_LOG; Password=2222"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>